<div class="container">

    <div class="row justify-content-md-center">

        <div class="col-md-11 col-sm-12" id="attendance">
            <div class="header">
                <span class="header__content">
                    <fa-icon [icon]="faFileSignature"></fa-icon>
                    Attendance
                </span>
                <!-- end of .header__content  -->
            </div>
            <!-- end of .header  -->

            <ng-container *ngIf="(monthData | async) as data">
                <!-- tabs  -->
                <div class="mt-2" *ngIf="sectionStore.sections$">
                    <tabset>
                        <tab *ngFor="let section of (sectionStore.sections$ | async) as sections"
                            [heading]="section.name">
                            <!-- line-graph  -->
                            <app-line-graph [sectionId]="filteredBySection(data, section?.id)"></app-line-graph>
                        </tab>
                    </tabset>
                </div>
                <!-- end of tabs  -->
            </ng-container>
            
            <ng-template #loading>
                <div class="message">
                    <img src="/assets/images/loading.svg">
                    Fetching attendance...
                </div>
            </ng-template>
            
        </div>
        <!-- end of .col-md-11   -->
    </div>
    <!-- end of .row  -->
</div>
<!-- end of .container  -->