<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler mr-2" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
            <fa-icon [icon]="faBars"></fa-icon>
    </button>
    <!-- end of .navbar-toggler  -->
    <div class="collapse navbar-collapse" 
         id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" 
                 href="#" 
                 id="navbarDropdown" 
                 role="button" 
                 data-toggle="dropdown" 
                 aria-haspopup="true" 
                 aria-expanded="false">
                Earl Hans Genoso
              </a>
              <!-- end of .nav-item  -->
              <div class="dropdown-menu" 
                   aria-labelledby="navbarDropdown">
                <a class="dropdown-item" 
                   href="#">Students
                </a>
                <!-- end of .dropdown-item  -->
                <a class="dropdown-item" 
                   href="#">Sections
                </a>
                <!-- end of .dropdown-item  -->
                <a class="dropdown-item" 
                   href="#">Attendance
                </a>
                <!-- end of .dropdown-item  -->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" 
                   href="#">Signout
                </a>
              </div>
              <!-- end of .dropdown-menu  -->
            </li>
        </ul>
    </div>
    <!-- end of .collapse  -->
</nav>
<!-- end of .navbar  -->