<div class="header">
  <span class="header__content">
      <fa-icon [icon]="faUser"></fa-icon>
      {{(student$ | async) ? 'Edit Student' : 'New Student'}}
  </span>
  <!-- end of .header__content  -->
</div>
<!-- end of .header  -->

<div class="student-form">
  
  <!-- Form Component  -->
  <app-form [dataForm]="studentFormData" 
            [existing]="student$ | async"
            (saveFormValues)="onsaveFormValues($event)"
            (editFormValues)="oneditFormValues($event)">
  </app-form>
    
</div>
<!-- end of .student-form  -->