.header {
    padding: 1rem 0.2rem 0.2rem;
    border-bottom: 1px solid rgb(165, 163, 163);
}
// end of .header 

.student-form {
    width: 100%;
    margin: 1.5rem 0;

    @media (max-width: 573px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
// end of .student-form 

::ng-deep form  {
    @media (max-width: 573px) {
        width: 85%;
    }
}
// end of form 