<div class="student-list">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Section</th>
            </tr>
        </thead>
        <!-- end of thead  -->
        <tbody>
            <tr *ngFor="let student of students">
                <td (click)="updateStudent(student.id)">{{student.idNumber}}</td>
                <td (click)="updateStudent(student.id)">{{student.firstName}} {{student.lastName}}</td>
                <td (click)="updateStudent(student.id)">{{student.gender}}</td>
                <td (click)="updateStudent(student.id)">{{getSectionName(student.section)?.name}}</td>
            </tr>
        </tbody>
        <!-- end of tbody  -->
    </table>
</div>
<!-- end of .student-list  -->