<div class="section-list d-flex justify-content-center">
    <table class="table table-striped">
        <thead>
            <tr class="text-center">
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
            <!-- end of .text-center -->
        </thead>
        <!-- end of thead  -->
        <tbody>
            <tr *ngFor="let section of sections; let i = index;">

                <td>
                    <span *ngIf="!this.isEdit[i]"
                          class="section-name">
                          {{section.name}} 
                    </span>

                    <input *ngIf="this.isEdit[i]" 
                            [(ngModel)]="model[i]"
                            [placeholder]="section.name"
                            required>
                </td>
                <td class="d-flex justify-content-end">
                    <ng-container *ngIf="!this.isEdit[i]; else event">

                        <span class="icon mr-2"
                            (click)="this.isEdit[i] = true">
                            <fa-icon [icon]="faEdit"></fa-icon>
                        </span>
                        <!-- end of .icon 1 -->
                        <span class="icon mr-2"
                              (click)="openModal(section.id)">
                            <fa-icon [icon]="faTrash"></fa-icon>
                        </span>
                        <!-- end of .icon 2  -->
                    </ng-container>
                    <!-- end of ng-container  -->
                    <ng-template #event>

                        <button class="btn btn-sm btn-primary"
                                (click)="save(section.id, model[i]); this.isEdit[i] = false"
                                [class.disabled]="!model[i]">Save</button>

                        <button class="btn btn-sm btn-warning ml-1"
                                (click)="this.isEdit[i] = false; model[i]=''">Cancel</button>

                    </ng-template>
                    <!-- end of #event template  -->
                </td>
                <!-- end of .d-flex  -->
            </tr>
        </tbody>
        <!-- end of tbody  -->
    </table>
</div>
<!-- end of .section-list  -->