
<div id="attendance">
    <label>{{month}}</label>
    <table class="table table-hover">
        <thead>
            <tr>
                <ng-container *ngFor="let day of days">
                    <th scope="col">{{day}}</th>
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <tr>
                <ng-container *ngFor="let day of days">
                    <th scope="col">x</th>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>