#attendance {
    overflow-x: auto;
    margin-bottom: 0.5rem;
}
.day {
    span {
        padding: 7px;
    }
}

.present {
    fa-icon {
        color: rgb(48, 201, 48);
    }
}

.absent {
    fa-icon {
        color: rgb(212, 71, 71);
    }
}