<div class="border-right" id="sidebar-wrapper">

    <div class="sidebar-heading d-flex flex-column">

      <span class="d-flex justify-content-center">
        <img src="assets/images/user.jpeg" alt="My profile image">
      </span>
      <!-- end of .d-flex  -->

      <span class="d-flex justify-content-center mt-2">
        <small>Earl Hans Genoso</small>
      </span>
      <!-- end of .d-flex  -->

    </div>
    <!-- end of .sidebar-heading  -->

    <div class="list-group list-group-flush">

      <span class="d-flex mb-3">
          <a href="#" class="url">
              <fa-icon [icon]="faUserFriends"></fa-icon>
              Students
          </a>
      </span>
      <!-- end of .d-flex  -->

      <span class="d-flex mb-3">
          <a href="#" class="url">
              <fa-icon [icon]="faIdCard"></fa-icon>
            Sections
          </a>
      </span>
      <!-- end of .d-flex  -->

      <span class="d-flex mb-3">
          <a href="#" class="url">
            <fa-icon [icon]="faFileSignature"></fa-icon>
            Attendance
          </a>
      </span>
      <!-- end of .d-flex  -->

    </div>
    <!-- end of .list-group  -->

</div>
<!-- end of .bg-light  -->