
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}
// end of #sidebar-wrapper 
  
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}
// end of #sidebar-wrapper .sidebar-heading 

.sidebar-heading {
    margin: 0.1rem 0 2rem 0;

    img {
        width: 124px;
        height: 124px;
        border-radius: 50%;
    }
    // end of img 
}
// end of .sidebar-heading 
  
#sidebar-wrapper .list-group {
    width: 15rem;
}
// end of #sidebar-wrapper .list-group

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}
// end of #wrapper.toggled #sidebar-wrapper 

.list-group {
    span {
        padding: 0.5rem 0 0.5rem 0;
        transition: all .25s ease-out;

        &:hover {
            background-color: rgb(214, 214, 214);
        }
    }
    // end of span 
}
// end of .list-group 

.url {
    text-decoration: none;
    color: inherit;
    margin-left: 3.4rem;
}
  
@media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
    // end of #sidebar-wrapper 
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
    // end of  #wrapper.toggled #sidebar-wrapper 
}