<div class="container">

    <div class="row justify-content-md-center">

        <div class="col-md-11 col-sm-12" id="section">
            <div class="header">
                <span class="header__content">
                    <fa-icon [icon]="faAddressCard"></fa-icon>
                    Section List
                </span>
                <!-- end of .header__content  -->
            </div>
            <!-- end of .header  -->

            <div class="section-event d-flex flex-row-reverse">
                <button class="btn btn-sm btn-outline-primary"
                        [class.disabled]="!section.valid"
                        (click)="addSection(section.value)">Create Section</button>
                <input class="mr-1"
                       name="section"
                       placeholder="Enter section ..."
                       [(ngModel)]="section"
                       required>
            </div>
            <!-- end of .section-event   -->
            
            <ng-container 
                *ngIf="sectionStore.sections$; else loading">
                <!-- Section List  -->
                <app-section-list
                [sections]="sectionStore.sections$ | async"
                (update)="onUpdate($event)"
                (remove)="onRemove($event)"></app-section-list>
            </ng-container>

            <ng-template #loading>
                <div class="message">
                    <img src="/assets/images/loading.svg">
                    Fetching section...
                </div>
            </ng-template>
            
        </div>
        <!-- end of .col-md-11   -->
    </div>
    <!-- end of .row  -->
</div>
<!-- end of .container  -->