<div class="attendance-form">
    <div class="date-picker">
        <input type="text"
            placeholder="Datepicker"
            bsDatepicker>
    </div>

    <div class="list-container">
        <div class="student d-flex flex-row align-items-center">
            <span class="student__icon">
                <fa-icon [icon]="faUser"></fa-icon>
            </span>
            <div class="d-flex flex-column ml-2">
                <span class="student__name">Earl Hans Genoso</span>
                <span class="student__gender"> Male</span>
            </div>
            <div class="custom-control custom-checkbox ml-auto">
                <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                <label class="custom-control-label" for="customCheck"></label>
            </div>
        </div>
        <div class="student d-flex flex-row align-items-center">
                <span class="student__icon">
                    <fa-icon [icon]="faUser"></fa-icon>
                </span>
                <div class="d-flex flex-column ml-2">
                    <span class="student__name">Earl Hans Genoso</span>
                    <span class="student__gender"> Male</span>
                </div>
                <div class="custom-control custom-checkbox ml-auto">
                    <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                    <label class="custom-control-label" for="customCheck"></label>
                </div>
        </div>
        <div class="student d-flex flex-row align-items-center">
                <span class="student__icon">
                    <fa-icon [icon]="faUser"></fa-icon>
                </span>
                <div class="d-flex flex-column ml-2">
                    <span class="student__name">Earl Hans Genoso</span>
                    <span class="student__gender"> Male</span>
                </div>
                <div class="custom-control custom-checkbox ml-auto">
                    <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                    <label class="custom-control-label" for="customCheck"></label>
                </div>
        </div>
    </div>
    
</div>