<div class="attendance-form">
    <form [formGroup]="form">
        <div class="date-picker">
            <input type="text"
                   bsDatepicker
                   [bsConfig]="{ isAnimated: true }"
                   formControlName="date">
        </div>
        <!-- end of .date-picker  -->
        <div class="list-container" 
             formArrayName="students">
            <div class="student d-flex flex-row align-items-center" 
                 *ngFor="let student of formStudents.controls; index as i;">
                <span class="student__icon">
                    <fa-icon [icon]="faUser"></fa-icon>
                </span>
                <!-- end of .student__icon  -->
                <div class="d-flex flex-column ml-3">
                    <span class="student__name">
                        {{student.value.firstName}} {{student.value.lastName}}</span>
                    <span class="student__gender">
                        {{student.value.gender === 'M' ? 'Male' : 'Female' }}</span>
                </div>
                <!-- end of .d-flex  -->
                <div class="custom-control custom-checkbox ml-auto">
                    <input type="checkbox" 
                           class="custom-control-input" 
                           [id]="i" 
                           [name]="i"
                           [checked]="student.value.status"
                           (change)="changeStatus($event, student.value.id)">
                    <label class="custom-control-label" [for]="i"></label>
                </div>
                <!-- end of .custom-control  -->
            </div>
            <!-- end of .student  -->
        </div>
        <!-- end of .list-container  -->
        <div class="mb-3">
            <!-- btn for Update or Save  -->
            <button class="btn btn-outline-primary" (click)="onSave()">
                {{existing ? 'Update' : 'Save' }}
            </button>
            <!-- btn for Cancel  -->
            <button class="btn btn-outline-secondary ml-2" [routerLink]="['../']">Cancel</button>
            <!-- btn for Delete  -->
            <button *ngIf="existing" 
                    type="button" 
                    class="btn btn-outline-danger ml-2" 
                    (click)="openModal()">Delete</button>
        </div>
        <!-- end of .mb-3  -->
    </form>
</div>
<!-- end of .attendance-form  -->