<div class="container">

    <div class="row justify-content-md-center">

        <div class="col-md-10 col-sm-12" id="attendance">
            <div class="header">
                <span class="header__content">
                    <fa-icon [icon]="faFileSignature"></fa-icon>
                    Check Attendance
                </span>
                <!-- end of .header__content  -->
            </div>
            <!-- end of .header  -->

            <ng-container 
                *ngIf="students$ || attendance$">
                <!-- attendance form -->
                <app-attendance-form 
                    [students]="(students$ | async)"
                    [attendance]="(attendance$ | async)"></app-attendance-form>
            </ng-container>

            <ng-template #load>
                Loading ...
            </ng-template>
            
            
        </div>
        <!-- end of .col-md-11   -->
    </div>
    <!-- end of .row  -->
</div>
<!-- end of .container  -->