<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-11 col-sm-12" id="profile">
            <div class="profile d-flex justify-content-start">
                <span class="profile__icon d-flex justify-content-center align-items-center">
                    <fa-icon [icon]="faUser"></fa-icon>
                </span>
                <!-- end of .profile__icon  -->
                <div class="profile__info d-flex flex-column">
                    <span>Earl Hans Genoso</span>
                    <span>ID Number: 11111111</span>
                    <span>Male</span>
                    <span>Rizal</span>
                </div>
                <!-- end of .profile__info  -->
            </div>
            <!-- end of .profile  -->
            <!-- app-attendance   -->
            <ng-container *ngFor="let month of months">
                <app-attendance 
                    [month]="month.type"
                    [numberOfDays]="month.days"></app-attendance>
            </ng-container>
        
        </div>
        <!-- end of #profile  -->
    </div>
    <!-- end of .container  -->
</div>
<!-- <app-attendance></app-attendance> -->